body {
    margin: 0;
}

.mainWrapper {
    max-width: 1024px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
}

.grid {
    display: grid;
    width: 100%;
    min-height: 500px;
    margin-bottom: 30px;
    gap: 50px;
}

.grid:last-of-type {
    margin-bottom: 0;
}



.grid--Tabl {
    gap: 0;
    grid-template-areas: 
    "header header"
    "content content";
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 10fr; 
}


.gridElement {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellowgreen;
}


.gridElement--search {
    display: flex;
    padding: 20px 30px 20px 30px;
    background-color: white;
    width: 100%;
        box-sizing: border-box;
}


.gridElement--header {
    position: sticky;
    top: 0;
    grid-area: header;
    background-color:black;
}




.gridElement--container {
    grid-area: content;
    grid-column: 1 / 3;
    background-color: rgb(163, 65, 65);
    

}


